/* *{margin : 0;
padding : 0;
}

     
body{
background-color: rgb(22, 26, 32);
overflow-x: hidden;
font-family : sans-serif;
}


.container{
min-height : 80vh;
width: 100vw;
display: flex;
flex-direction: column;
padding: 1rem 0 .5rem;
font-size: 14px;    
}
    
header{
    width : 100%;
    background-color:rgb(62, 66, 68);
    height : 50px;
    display: flex;
    align-items: center;
    justify-content : space-between;
}
    

nav{
    width : 100px;
    height: auto;
    display : flex;
    margin-right : 100px;
}



a{
    text-decoration: none;
    font-size: 1.375rem;
    color : #fff;
    margin : 0 10px;
}

h1{
    display: flex;
    flex-direction: column;
    font-weight : lighter;
    font-family : sans-serif;
    margin: 30px 30px 0;
    font-size : 2rem;
    letter-spacing : 0.1rem;
    position : relative;
    color : #fff;
}

h1::after{
    content: '';
    position: absolute;
    width : 100%;
    height : 2px;
    bottom: -7px;
    background: #fff;
}

h2{
    color : #fff;
    margin-left : 10px;
}

.content
{
    min-height: 100%;
    width : 100%;
    padding : 30px;
    display: flex;
}

form{
    width : 20%;
    height: 500px;
    display : flex;
    flex-direction: column;
}

form > div {
    display : flex;
    flex-direction: column;
    margin : 12px 0;

}

label{
    font-size: 1rem;
    letter-spacing : 0.1rem;
    width :100%;
    color : #fff;
}

input, select{
    width : 100%;
    height : 20px;
    border : 1px solid #555;
    background : darkgray;
    padding : 0 10px;
    color : black;
    display : block;
}
button{
  height: 30px;
  min-width: 170px;
  border: 1px solid rgb(26, 14, 26);
  background: rgb(29, 67, 70)!important;
  color: white!important;
}

.gender > div{
    width : 100px;
    height : 30px;
    margin : 5px 0;
    display : flex;
    justify-content: space-between;
    color : #fff;

}


 .filter{
    width: 200px;
    height: 50px;
    margin : 5px 0;
    display : block;
    justify-content: space-between;        
 }
        
 .filter2{
    width: 210px;
    height: 40px;
    margin : 5px 0;
    display : block;
    justify-content: space-between;
    color : #fff;           
 }

 .gender > div > input{
    padding : 0;
    height : 13px;
    width : 23px;
    color : #fff;
}

.gender > div > label{
    font-size: 0.9rem;
    padding-left : 4px;

}

footer{
    color : #fff;
    text-align: center;
}
.add_student{
  width: 100%;
  min-height: 400px;
  background: red;
}
#header-title{
  margin-top: 20px;
  margin-left: 30px;
}

.tombol{
    background-color : rgb(101, 158, 151);
    color : black;
    width: 100px;
    margin-left: 30px;
}

.ourstudent{
    color : #fff;
    width: 230px;
    margin-right: 50px;
}

.ff{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  position: absolute;
  right: 200px;
  height: 300px;
}

.ff>div{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ff>button{
  width: 70%;      
}

.title{
  text-transform: capitalize;
  font-size: 60px;
  font-weight: 100;
}

.search{
  width: 800px;
  height: 40px;
  background: none;
  border: 1px solid white;
  font-size: 23px;
  color: white;
}

table{
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 20px;
}

td,tr,th{
  border:1px solid white;
  border-left: none;
  border-right: none;
  color: white;
  text-align: center;
  
}

#our-students{
  margin-right:40px;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
}

    
     */